.success-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.success-modal__container {
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: 430px;
  padding: 34px 36px;
  border-radius: 16px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align all children to the left */
}

.success-modal__content {
  width: 100%; /* Ensure it takes full width of container */
  text-align: left; /* Explicitly left-align content */
}

.success-modal__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-image: url('data:image/svg+xml;utf8,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M32.8452 7.15483C33.5513 7.86094 33.5513 9.00231 32.8452 9.70842L22.5519 20.0001L32.8452 30.2917C33.5513 30.9978 33.5513 32.1392 32.8452 32.8453C32.1391 33.5514 30.9977 33.5514 30.2916 32.8453L20.0001 22.5519L9.70839 32.8453C9.00229 33.5514 7.86091 33.5514 7.1548 32.8453C6.4487 32.1392 6.4487 30.9978 7.1548 30.2917L17.4483 20.0001L7.1548 9.70842C6.4487 9.00231 6.4487 7.86094 7.1548 7.15483C7.86091 6.44873 9.00229 6.44873 9.70839 7.15483L20.0001 17.4482L30.2916 7.15483C30.9977 6.44873 32.1391 6.44873 32.8452 7.15483Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.success-modal__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #000;
  margin: 0 0 12px;
  padding: 0;
  display: inline-block;
  text-align: left;
  white-space: pre-wrap;
}

@media screen and (max-width: 768px) {
  .success-modal__close-button {
    right: -30px;
    top: -30px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.7071 4.29289C20.0976 4.68342 20.0976 5.31658 19.7071 5.70711L13.4142 12L19.7071 18.2929C20.0976 18.6834 20.0976 19.3166 19.7071 19.7071C19.3166 20.0976 18.6834 20.0976 18.2929 19.7071L12 13.4142L5.70711 19.7071C5.31658 20.0976 4.68342 20.0976 4.29289 19.7071C3.90237 19.3166 3.90237 18.6834 4.29289 18.2929L10.5858 12L4.29289 5.70711C3.90237 5.31658 3.90237 4.68342 4.29289 4.29289C4.68342 3.90237 5.31658 3.90237 5.70711 4.29289L12 10.5858L18.2929 4.29289C18.6834 3.90237 19.3166 3.90237 19.7071 4.29289Z" fill="white"/></svg>');
  }

  .success-modal__container {
    max-width: 320px;
    padding: 25px;
  }

  .success-modal__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .success-modal__container {
    max-width: 290px;
    padding: 16px;
  }

  .success-modal__close-button {
    right: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }
}
